# ─── Python ─────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ─── Entornos virtuales ────────────────
venv/
.env/
.venv/

# ─── VS Code / PyCharm ─────────────────
.vscode/
.idea/

# ─── Streamlit ─────────────────────────
.streamlit/

# ─── Playwright ────────────────────────
playwright-browsers/

# ─── Salidas y zips ────────────────────
salida/
*.zip